// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  doc:        #2C3E50,
  primary:    #4696e5,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       ( base: #ff531a,
                contrast: #f4f4f4,
              ),
  title:      #ff531a,
  warning:    #f0ad4e,
  info:       #5bc0de
);

ion-menu{
  ion-avatar {
    border: solid 3px #ff531a;
    background-color: #f4f4f4;
    border-radius: 50%;
    padding: 5px;
  }
  .item-inner{
    border: none !important;
  }
  ion-list{
    border: none !important;
  }
  ion-item{
     border: none !important;
     .list-ios{
       border-top:none !important;
     }
  }
  .scroll-content{
    background-image: url(../assets/img/bgmenu2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    
  }
  .item-md, .item-ios{
    background-color: transparent !important;
  }
  .item-md , .item-ios{
    color: color($colors,title);
  }
}
// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
